/* -----------global styles----------- */

:root {
    --primary-color: #00A3DA;
    --secondary-color: #808080;
}

body {
    background: no-repeat url(assets/waves-header.png);
    background-position: auto;
}

.primaryTitle {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.primaryText {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bolder;
}

.secondaryText {
    color: var(--secondary-color);
}

.container {
    width: 1320px;
    margin: 0 auto 5vh;
}

.formControl {
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 16px;
    border-width: 0.5px;
    border-color: var(--secondary-color);
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0px 0px 2px var(--secondary-color);
}

.formControl:focus {
    outline: none;
}

.btn {
    border-radius: 28px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    padding: 16px 31px;
    text-decoration: none;
}


/* -----------navbar || header Styles----------- */

.headerContainer {
    display: flex;
    padding: 5vh 10vw;
}

.headerLogoContainer {
    width: 50%;
}

.headerBtn {
    margin: auto .5vw;
    color: var(--primary-color);
    text-decoration: none;
    background-color: #fff;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
}

.headerBtn:hover {
    border: 1px solid var(--primary-color);
    color: #FFFFFF;
}


/* -----------Header styles----------- */

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.headerTitle {
    color: var(--primary-color);
    font-size: 4em;
}

.headerSubtitle {
    color: var(--secondary-color);
    font-weight: bold;
}

.headerInput {
    padding: 10px;
    font-size: 16px;
    border-width: 1px;
    border-color: var(--primary-color);
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0px 0px 5px var(--primary-color);
    width: 50%;
}

.headerInput:focus {
    outline: none;
}

.btnSubmit {
    padding: 10px;
    border-width: 1px;
    border-radius: 6px;
    font-size: 16px;
    background-color: #276897;
    color: #fff;
    width: 20%;
}

.moreInfoContainer {
    display: flex;
    align-self: start;
    margin-top: 3vh;
}

.moreInfoText {
    color: var(--secondary-color);
    margin: 0 0 0 1vw;
    text-align: center;
}


/* -----------Benefits component styles----------- */

.benefitsTitle {
    margin: auto;
    text-align: center;
}

.benefitsCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}

.cardImageContainer {
    display: flex;
    justify-content: center;
}

.cardTitle {
    height: 7vh;
    text-align: center;
    text-justify: distribute;
}

.cardText {
    text-align: center;
    text-justify: distribute;
}


/* -----------Our Pillars component Styles----------- */

.ourPillarsContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

.ourPillarsImage img {
    width: 80%;
    display: block;
    margin: auto;
}

.infoCardContainer {
    margin-top: 5vh!important;
}

.infoCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.infoCard1,
.infoCard2,
.infoCard3 {
    padding: 25px;
}

.infoCard1 {
    grid-area: 1 / 1 / 2 / 2;
}

.infoCard2 {
    grid-area: 1 / 2 / 2 / 3;
}

.infoCard3 {
    grid-area: 2 / 1 / 3 / 3;
}

.cardShape {
    border-radius: 34px;
    background: #fff;
    box-shadow: 21px 21px 43px #f7e7e7, -21px -21px 43px #ffffff;
}


/* -----------Suggest Points component Style----------- */

.suggestPointsWrapper {
    margin: 10vh 10vw;
}

.suggestPointsTitle {
    text-align: center;
}

.suggestPointsContainer {
    padding: 5vh 0vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.customColor {
    color: var(--secondary-color);
}

.submitBtnSuggestPoints {
    width: 40%;
    background-color: var(--secondary-color);
}


/* -----------Social Media Component Styles----------- */

.socialMediaContainer {
    margin: 5vh 10vw;
    display: flex;
    justify-content: center;
}

.socialMediaWrapper {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 24px;
    background: #fff;
    box-shadow: 21px 21px 43px #f7e7e7, -21px -21px 43px #ffffff;
}

.socialMediaIconsContainer {
    display: flex;
    margin: auto 4vw;
}

.socialMediaIcon {
    margin: auto 1vw;
}


/* -----------contac us form Styles----------- */

.contactFormContainer {
    margin: 5vh 10vw;
}

.contactFormTitle {
    margin: auto;
    text-align: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.submitContactForm {
    background-color: var(--primary-color);
    width: 30%;
    justify-content: center;
}


/* -----------footer Styles----------- */

.footerContainer {
    margin: 5vh 10vw;
}

.footerText,
.footerBtns {
    display: flex;
    justify-content: center;
}

.footerLink {
    text-decoration: none;
    color: var(--primary-color);
    margin-left: 1vw;
}


/* -----------Mobile----------- */

@media only screen and (max-width: 40em) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .butonsContainer {
        display: none;
    }
}


/* -----------Tablets----------- */


/* -----------Desktop----------- */